<h5>Book {{showBookDetails ? 'Details' : 'Search'}}</h5>

<ng-container *ngIf="!showBookDetails">
    <div class="row mb-3">
        <div class="col-sm-6 form-group">
            <!-- <label>Book Search Text</label> -->
            <input type="text" class="form-control" autocomplete="off" name="searchText" [(ngModel)]="searchText"
                placeholder="Book Search Text">
        </div>
        <div class="col-sm-6 form-group">
            <button type="button" class="btn btn-primary" style="margin-right: 20px;"
                (click)="getBooks()">Search</button>
            <button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let s of bookList?.docs" class="col-sm-6 col-md-4 col-xs-12 mb-3">
            <div class="card h-100">
                <div class="card-header" style="background-color: darkgray;">
                    Title : {{s.title}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Suggest : {{s.title_suggest}}</h5>
                    <p class="card-text">Book Id : {{s.cover_edition_key}}</p>
                    <a (click)="viewBookDetails(s)" class="btn btn-primary">View Book Details</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div *ngIf="showBookDetails">
    <app-book-details [bookId]="bookId" (onClose)="showListPage()"></app-book-details>
</div>